"*":
  Hydrogen:
    autocomplete: false
    debug: true
  "atom-beautify":
    general:
      _analyticsUserId: "663b4a81-325f-40a6-a3c1-b17f2483f4d4"
    python: {}
  "atom-clock":
    dateFormat: "MMMM Do, dddd, h:mm:ss a"
    locale: "zh_CN"
    showClockIcon: true
    showTooltip: true
  "atom-material-ui":
    colors:
      abaseColor: "#80deea"
      accentColor: "#528c94"
      predefinedColor: "Cyan"
    fonts: {}
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-python":
    useKite: false
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "linter"
      "javascript-snippets"
      "jquery-snippets"
      "language-babel"
      "linter-csslint"
      "linter-eslint"
      "linter-sass-lint"
      "linter-tidy"
      "linter-tslint"
      "script"
      "language-java"
      "language-less"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-ruby"
      "language-ruby-on-rails"
      "language-sass"
      "language-typescript"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-material-syntax"
    ]
  docblockr:
    auto_add_method_tag: true
  editor:
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
  "exception-reporting":
    userId: "6db72b2c-58b7-44f6-b313-e836eff1f531"
  "git-plus":
    general: {}
  kite:
    editorMetricsEnabled: "yes"
    showWelcomeNotificationOnStartup: false
  "linter-ui-default": {}
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  "platformio-ide-terminal":
    core: {}
    customTexts: {}
    style:
      fontFamily: "Meslo LG M for Powerline"
      fontSize: "13"
      theme: "solarized-dark"
  "sync-settings":
    _lastBackupHash: "38dbaf1b6c35b2207bbcd11cb0a0212833ca37b6"
    gistId: "20abe5615b91934fd0f77bf294f8a4cd"
    personalAccessToken: "cd17f90fef1cbac2e35fe3dbfad5855b7156b1fc"
  welcome:
    showOnStartup: false
